openapi: 3.0.0
info:
  title: SE Ranking Data Account & system SERP Results > classic API
  description: SEO data API for keywords, domains, backlinks, AI Search, SERP, and site audit.
  version: 1.0.0
  contact:
    name: SE Ranking API Support
    url: https://seranking.com/api
servers:
- url: https://api.seranking.com
  description: Production
security:
- apikeyAuth: []
tags:
- name: SERP Results > classic
paths:
  /v1/serp/classic/tasks:
    post:
      operationId: createSerpClassicTasks
      tags:
      - SERP Results > classic
      summary: Add task
      description: Queues one or more keywords for SERP data collection and returns a unique task ID for each.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example:
                search_engine: google
                device: desktop
                language_code: es
                location_id: 12998
                query:
                - seo report
                - seo api
                tag: test_tag
                pingback_url: https://your-webhook.example.com?id=$id&user_tag=$tag
      parameters:
      - name: apikey
        in: query
        schema:
          type: string
        example: '{{secret_key_data}}'
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
    get:
      operationId: getSerpClassicTasks
      tags:
      - SERP Results > classic
      summary: List tasks / Get task results
      description: 'Without task_id: returns a list of all SERP tasks submitted within the last 24 hours. With task_id: returns the status or results for a specific task.'
      parameters:
      - name: apikey
        in: query
        schema:
          type: string
        example: '{{vault:api_key_project}}'
      - name: task_id
        in: query
        description: Task ID returned by the POST endpoint. When provided, returns status or results for that specific task.
        schema:
          type: integer
        example: 62458525
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /v1/serp/classic/tasks/results_advanced:
    get:
      operationId: getSerpClassicTasksResults_advanced
      tags:
      - SERP Results > classic
      summary: Get advanced results
      description: Checks the status of a specific task and retrieves the top 100 SERP results once the task is complete.
      parameters:
      - name: task_id
        in: query
        schema:
          type: integer
        example: 32
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /v1/serp/classic/tasks/html:
    get:
      operationId: getSerpClassicTasksHtml
      tags:
      - SERP Results > classic
      summary: Get HTML dump
      description: Checks the status of a specific task and retrieves the top 100 SERP results once the task is complete.
      parameters:
      - name: task_id
        in: query
        schema:
          type: integer
        example: 743834
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /v1/serp/classic/locations:
    get:
      operationId: getSerpClassicLocations
      tags:
      - SERP Results > classic
      summary: Get locations
      description: Returns a list of all SERP tasks submitted by the user within the last 24 hours.
      parameters:
      - name: country_code
        in: query
        schema:
          type: string
        example: ES
      - name: q
        in: query
        schema:
          type: string
        example: Barcelona
      - name: include
        in: query
        description: Include additional fields in the response.
        schema:
          type: string
        example: google_ads_location_id
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
components:
  securitySchemes:
    apikeyAuth:
      type: apiKey
      in: query
      name: apikey
